<html lang="ja">
    <head>
        <title>申請画面</title>
    </head>
    <body>
        <main>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>申請日時</td>
                        <td>申請済</td>
                        <td>申請者</td>
                        <td>住所</td>
                        <td>内容</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="request : ${requests}">
                        <td th:text="${request.id}"></td>
                        <td th:text="${request.requestDatetime}"></td>
                        <td th:text="${request.approved}"></td>
                        <td th:text="${request.requesterName}"></td>
                        <td th:text="${request.requesterAddress}"></td>
                        <td th:text="${request.content}"></td>
                    </tr>
                </tbody>
            </table>

        </main>
    </body>
</html>