<html lang="ja">
    <head>
        <title>申請画面</title>
    </head>
    <body>
        <main>
            <table>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>申請日時</td>
                        <td>申請済</td>
                        <td>申請者</td>
                        <td>住所</td>
                        <td>内容</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="request : ${requests}">
                        <td th:text="${request.id}"></td>
                        <td th:text="${#temporals.format(request.requestDatetime, 'yyyy/MM/dd HH:mm:ss')}"></td>
                        <td th:text="${request.approved} ? '済' : '未'"></td>
                        <td th:text="${request.requesterName}"></td>
                        <td th:text="${request.requesterAddress}"></td>
                        <td th:text="${request.content}"></td>
                        <td>
                            <!--/* 未承認の場合、「承認」ボタンを表示 */-->
                            <form th:if="${!request.approved}"
                                  th:action="@{/requests/{id}/approve(id=${request.id})}"
                                  method="post">
                                  <button type="submit">承認</button>
                            </form>

                            <span th:if="${request.approved}">承認済</span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </main>
    </body>
</html>